<div class="container">
<br></br>
  <div ALIGN=center class="jumbotron">
  	
	<% if(session.authenticated){ %>
  	
  	<h1>Bienvenidos a Venta facil</h1>

  	<h2>pagina ventas </h2>
  	<a href="#" class="btn btn-lg btn-success">Comprar</a>
	  	
	<% } else{ %>

	<h2>Porfavor ingrese a su cuenta , si no tiene una registrese</h2>

  	<h3>pagina ventas  </h3>
  	<a href="session/new" class="btn btn-lg btn-success">Iniciar Sesion</a>
  	<a href="user/new" class="btn btn-lg btn-success">Registrar</a>


	<% } %>


  	</div>
</div>